@using DevExpress.Data.Filtering;
@using DevExpress.ExpressApp
@using DevExpress.ExpressApp.Blazor.Services
@using DevExpress.ExpressApp.Blazor;
@using XafBlazorBarChart.Module.BusinessObjects;
@inject IXafApplicationProvider XafApplicationProvider
@inject NavigationManager NavigationManager

@if (SalesData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Select Region:
    <DxComboBox Data="@RegionData"
            @bind-Value="CurrentRegion"
            TextFieldName="@nameof(Region.Name)"
            SelectedItemChanged="@((Region region) => SelectedRegionChanged(region))"
                CssClass="w-50" />
    </p>
 <br />
    <DxPivotGrid Data="@SalesData" CssClass="w-100">
        <DxPivotGridField Field="@nameof(SaleInfo.RegionName)" SortOrder="PivotGridSortOrder.Ascending" Area="PivotGridFieldArea.Row" />
        <DxPivotGridField Field="@nameof(SaleInfo.Country)" Area="PivotGridFieldArea.Row" />
        <DxPivotGridField Field="@nameof(SaleInfo.City)" Area="PivotGridFieldArea.Row" />
        <DxPivotGridField Field="@nameof(SaleInfo.Date)" GroupInterval="PivotGridGroupInterval.Year" Area="PivotGridFieldArea.Column" Caption="Year" />
        <DxPivotGridField Field="@nameof(SaleInfo.Date)" GroupInterval="PivotGridGroupInterval.Quarter" Area="PivotGridFieldArea.Column" Caption="Quarter">
            <HeaderTemplate>@string.Format("Q{0}", context)</HeaderTemplate>
        </DxPivotGridField>
        <DxPivotGridField Field="@nameof(SaleInfo.Amount)" Area="PivotGridFieldArea.Data" SummaryType="PivotGridSummaryType.Sum" />
        <DxPivotGridField Field="@nameof(SaleInfo.Oid)" Caption="Count" Area="PivotGridFieldArea.Data" SummaryType="PivotGridSummaryType.Count" />
    </DxPivotGrid>
}
<DxChart Data="@SalesData">
    <DxChartTitle Text="Sales Info">
        <DxChartSubTitle Text="Month-wise" />
    </DxChartTitle>
    <DxChartBarSeries Name="January"
                      Filter="@((SaleInfo s) => s.Date.Month == 1)"
                      ArgumentField="@(s => s.SalesRegion.Name)"
                      ValueField="@(s => s.Amount)"
                      SummaryMethod="Enumerable.Sum" />
    <DxChartBarSeries Name="February"
                      Filter="@((SaleInfo s) => s.Date.Month == 2)"
                      ArgumentField="@(s => s.SalesRegion.Name)"
                      ValueField="@(s => s.Amount)"
                      SummaryMethod="Enumerable.Sum" />
    <DxChartLegend Position="RelativePosition.Outside"
                   HorizontalAlignment="HorizontalAlignment.Center"
                   VerticalAlignment="VerticalEdge.Bottom" />
    <DxChartTooltip Enabled="true"
                    Position="RelativePosition.Outside">
    </DxChartTooltip>
</DxChart>

@code {
    IEnumerable<SaleInfo> SalesData { get; set; }
    IEnumerable<Region> RegionData { get; set; }
    Region CurrentRegion { get; set; }
    BlazorApplication Application { get; set; }
    IObjectSpace os { get; set; }
    protected override void OnInitialized()
    {
        Application = XafApplicationProvider.GetApplication();
        os = Application.CreateObjectSpace(typeof(SaleInfo));
        RegionData = os.GetObjects<Region>();
        SelectedRegionChanged(CurrentRegion);
    }

    void SelectedRegionChanged(Region region)
    {
        SalesData = os.GetObjects<SaleInfo>(new BinaryOperator("SalesRegion", region)).OrderBy(x => x.Date.Month);
    }
}

